

<form asp-action="SayiGiris" method="post">
    <div class="mb-3">
        <label for="kucukSayi1">LowerBound</label>
        <input type="text" name = "kucukSayi" id="kucukSayi1">
    </div>
    <div class="mb-3">
        <label for="buyukSayi1">UpperBound</label>
        <input type="text" name = "buyukSayi" id="buyukSayi1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>